/* app/page.module.css */

.main {
  min-height: 100vh;
  background-color: #fff;
  color: var(--color-gray-900);
  overflow-x: hidden;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
}