.container {
  max-width: 1170px;
  width: 100%;
  margin: 40px auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: 400px 1fr;
  }
  .leftColumn {
    position: sticky;
    top: 100px;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  color: var(--color-gray-500);
}

.leftColumn {
  height: fit-content;
  position: relative;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}